@import '../Variables/Variables.scss';

.employee-container {
    font-family: $font-stack;
    border: 1px solid grey;
    display: inline-block;
    border-radius: 10px;
    width: 330px;
    padding: 5px;
    margin-top: 10px;
    

    button {
        background-color: $buttoncolor;
        color: white;
        margin: 2px;
    }
}

@media screen and (max-width: 600px) {

}