@import '../Variables/Variables.scss';

.nav-container {
  display: flex;
  justify-content: flex-start;
  background-color: #344263;
  color: #adb5c7;
  border-radius: 10px;
  padding: 3px;
  width: -moz-calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: -o-calc(100% - 10px);
  width: calc(100% - 10px);

  .nav-title {
    display: flex;
    margin-right: auto;

    img {
      width: 25px;
      align-content: center;
      padding: 3px;
      margin-right: 5px;
      overflow: hidden;
    }

    h5 {
      margin: 0;
      margin-top: 12px;
      padding: 0;
    }
  }
}

.nav {
  display: inline-block;
  font-family: $font-stack;
  button {
    background-color: $buttoncolor;
    color: white;
    margin: 5px;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
  }
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #344263;
  color: #adb5c7;
  border-radius: 10px;
  padding: 3px;
  width: -moz-calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: -o-calc(100% - 10px);
  width: calc(100% - 10px);
}

nav {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav {
    display: none;
  }

  .nav-container {
    display: none;
  }

  .hamburger {
    margin-right: auto;
  }

  .nav-title {
    display: flex;
    margin-right: 5px;
    img {
      width: 25px;
      justify-content: center;
      padding: 3px;
      margin-left: 5px;
      overflow: hidden;
    }

    h5 {
      margin: 0;
      margin-top: 12px;
      padding: 0;
    }
  }

  .navMobile-container {
    display: flex;
    position: relative;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    background-color: #344263;
    color: #adb5c7;
    border-radius: 10px;
    margin: 0;
    width: -moz-calc(100% - 15px);
    width: -webkit-calc(100% - 15px);
    width: -o-calc(100% - 15px);
    width: calc(100% - 15px);
  }

  footer {
    position: relative;
    flex: 0 0 50px; /*or just height:50px;*/
    margin-top: auto;
  }
}
