@import '../Variables/Variables.scss';

.nav-container {
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: inline-block;
  font-family: $font-stack;
  button {
    background-color: $buttoncolor;
    color: white;
    margin: 5px;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
  }
}

nav {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav {
    display: none;
  }

  .navMobile-container {
    background-color: rgb(192, 185, 185);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: -o-calc(100% - 20px);
    width: calc(100% - 20px);
  }

  nav {
    display: flex;
    margin-top: 5px;
    align-items: center;
    height: 4em;

    .nav-mobile {
      display: flex;
      flex-direction: column;
      padding-left: 8px;
      cursor: pointer;

      i {
        background-color: rgb(36, 113, 164);
        width: 30px;
        height: 4px;
        margin: 2px;
        border-radius: 2px;
        transition: all ease 0.3s;
      }

      .open:nth-child(1) {
        transform: rotate(58deg) translateY(16px);
      }

      .open:nth-child(2) {
        opacity: 0;
      }

      .open:nth-child(3) {
        transform: rotate(-58deg) translateY(-16px);
      }

      .close:nth-child(1) {
        transform: rotate(0) translateY(0);
      }

      .close:nth-child(2) {
        opacity: 1;
      }

      .close:nth-child(3) {
        transform: rotate(0) translateY(0);
      }
    }
  }

  .links-container {
    padding: 10px;
    cursor: pointer;

    button {
      background-color: $buttoncolor;
      border-radius: 10px;
      color: white;
    }

    ul {
      padding: 0;
      margin: 2px;
      list-style-type: none;
      li {
        margin: 2px;
        display: inline-block;
      }
    }
  }
}
