@import '../Variables/Variables.scss';

.nav-container {
    display: flex;
    justify-content: flex-end;
}

.nav {
    display: inline-block;
    font-family: $font-stack;
    button {
        background-color: $buttoncolor;
        color: white;
        margin: 5px;
        height: 35px;
        width: 150px;
        border-radius: 10px;
        cursor: pointer;
    }
}